<div class="container-fluid">
    <button mat-raised-button color="primary" (click) = onclick()>Back To Home</button>
    <h1 class="my-3">LabConnect</h1>
    <p>AIP Publishing Product Innovation team works to promote research in physical sciences by finding ways to reduce
        barriers in that research. The LabConnect project is attempting to bring benefits to researchers by assisting
        research facilities and funders with understanding the impact of research facilities.</p>

    <p>Collecting and tracking the published articles derived from research at each facility has been a challenge. As a
        publisher, we are exploring if our ability to capture data around the article can benefit labs and funders. We
        believe that showing the impact of a facility in research can result in more funding for that facility over
        time, with a benefit to the researcher community they serve.</p>

    <p> As we gather more data on the experimental details that underpin each article's findings, AIP Publishing
        believes that researchers, facilities, and funders will all benefit. We can more easily provide researchers with
        examples of where specific instrumentation, materials, or experimental techniques were used; to give more
        insight during the research planning phase of work. We hope these details can inspire more innovation and new
        ideas for researchers.

        Thank you for your interest in the LabConnect project. Please contact us if you have questions or would like to
        learn more. You can reach us at<a href="labconnect@aip.org">labconnect@aip.org</a> </p>


</div>