.header-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 73px;
    padding: 0 12px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.mdc-text-field--filled {
    background-color:white
}


.filter-field {
    margin-top:20px;
    margin-right: 12px;
    min-width: 150px;
    max-width: 200px; 
    /* height:100% */

}

.mat-form-field {
    height: 36px; 
    margin: 0;
}

.mat-form-field-wrapper,
.mat-form-field-flex {
    height: 36px; 
    padding: 0; 
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0; 
}

input.mat-input-element {
    height: 24px; 
    line-height: 24px; 
    padding: 0; 
}


@media (max-width: 576px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;
        height: auto; 
    }

    .filter-field {
        margin-bottom: 16px;
        margin-right: 0;
        width: 100%;
        max-width: none;
    }
}
