
<div class="top-nav-col">
  <span class="hamburger-icon" (click)="toggleSidenav()">
    &#9776; 
  </span>

  <img _ngcontent-ng-c244254216="" loading="lazy" alt="LabConnect Logo" height="46" width="100" class="labConnect-logo" fetchpriority="auto" ng-img="true" src="assets/aipp-new-logo.png">
  <span class="example-spacer"></span>
  <span class="labConnect-name">
    LabConnect 
  </span>
</div>
<div class="container-fluid">
 
   

  
  <div id="mySidenav" class="sidenav" [ngClass]="{'open': isSidenavOpen}">
    <a [routerLink]="['/article-info']">Article info</a>
    <a href="javascript:void(0)" class="closebtn" (click)="toggleSidenav()">&times;</a>

    
    <a href="javascript:void(0)" (click)="toggleSubMenu('instruments')"><i class="material-icons success_icon">check_circle</i> Instruments</a>
    <div *ngIf="subMenuOpen['instruments']" class="sub-menu">
      <a [routerLink]="['/instruments-summary']">summary</a>
     <a *ngFor="let instrument of instruments let i = index" [routerLink]="['/instruments', instrument.instrumentName]" class="instrument-item">
        <span class="instrument-container">
          <mat-icon *ngIf="deletedInstruments.has(instrument.instrumentName)" class="deleted-icon">close</mat-icon>
          <mat-icon *ngIf="updatedInstruments.has(instrument.instrumentName) && !deletedInstruments.has(instrument.instrumentName)" class="done-icon">done_all</mat-icon>
          <span *ngIf="!updatedInstruments.has(instrument.instrumentName) && !deletedInstruments.has(instrument.instrumentName)" class="number-circle">
            {{ i + 1 }}
          </span>
          {{ instrument.instrumentName }}
        </span>
      </a>
    </div>
   
  

    
    <a href="javascript:void(0)" (click)="toggleSubMenu('material')"><i class="material-icons success_icon">check_circle</i> Materials</a>
    <div *ngIf="subMenuOpen['material']" class="sub-menu">
      <a [routerLink]="['/material-summary']">summary</a>
      <a *ngFor="let material of materials; let i = index" [routerLink]="['/materials', material.materialName]" class="material-item">
        <span class="material-container">
          <mat-icon *ngIf="deletedMaterials.has(material.materialName)" class="deleted-icon">close</mat-icon>
          <mat-icon *ngIf="updatedMaterials.has(material.materialName) && !deletedMaterials.has(material.materialName)" class="done-icon">done_all</mat-icon>
          <span *ngIf="!updatedMaterials.has(material.materialName) && !deletedMaterials.has(material.materialName)" class="number-circle">
            {{ i + 1 }}
          </span>
          {{ material.materialName }}
        </span>
      </a>
      
    </div>

    
    <a href="javascript:void(0)" (click)="toggleSubMenu('techniques')"><i class="material-icons success_icon">check_circle</i> Techniques</a>
    <div *ngIf="subMenuOpen['techniques']" class="sub-menu">
      <a [routerLink]="['/technique-summary']">Summary</a>

      <a *ngFor="let technique of techniques; let i = index" 
        [routerLink]="['/techniques', technique.techniqueName]" 
        class="technique-item">
        <span class="technique-container">
          <mat-icon *ngIf="deletedTechniques.has(technique.techniqueName)" class="deleted-icon">close</mat-icon>
          <mat-icon *ngIf="updatedTechniques.has(technique.techniqueName) && !deletedTechniques.has(technique.techniqueName)" class="done-icon">done_all</mat-icon>
          <span *ngIf="!updatedTechniques.has(technique.techniqueName) && !deletedTechniques.has(technique.techniqueName)" class="number-circle">
            {{ i + 1 }}
          </span>
          {{ technique.techniqueName }}
        </span>
      </a>
    </div>
    <a [routerLink]="['/feedback']">FeedBack</a>
    <a [routerLink]="['/about']">About</a>
    <a [routerLink]="['/todo']">Todo's</a>
  </div>


  <div class="main-content" [ngClass]="{'shifted': isSidenavOpen}">

    <router-outlet></router-outlet>
    
  </div>
  

  <div class="footer" style="text-align: center;"> <span >Ⓒ2024 AIP Publishing LLC</span></div>
  
</div>
